  <div class="container-fluid navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img src="assets/img/logo.png" alt="app logo" class="logo">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">HOME</a></li>
      <li><a [routerLink]="['/overview']">OVERVIEW</a></li>
       <li><a [routerLink]="['/agenda']">AGENDA</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
      </ul>
    </div>
  </div>
  <div class="banner aboutpage"> <img src="assets/img/overview1.png" alt="banner">
          <h1 class="mainheading">Overview</h1>
</div>
<div>
     <h2 class="heading">Global Innovation Summit</h2>

      <p>We will be hosting our 5th annual Global Innovation Summit at the beautiful Marriott Resort & Spa in the beach-town of Goa, India.The summit will showcase a range of speakers, demos and workshops on emerging technology trends, recent frameworks/tools built by our innovation teams, and the industry best-practices in software life cycle.The event will also feature a number of sessions on leadership development, work + life balance and motivational speeches.</p>
</div>

<div class="row text-center bannerlinks">
     
          <div class="bannerliinks-col wow fadeInLeft">200+<span>Participants</span></div>
          <div class="bannerliinks-col wow fadeInLeft">20+<span>Digital CXo</span></div>
          <div class="bannerliinks-col wow fadeInRight">10+<span>Industry Leaders</span></div>
          <div class="bannerliinks-col wow fadeInRight">50+<span>Investors</span></div>
          <div class="bannerliinks-col">50+<span>Research &amp; Academia</span></div> 
    
</div>
